version: '3.8'

services:
  backend:
    build:
      context: ./backend/level-up
    ports:
      - "5000:3000"
    volumes:
      - ./backend/level-up:/usr/src/app
      - /usr/src/app/node_modules
    command: npm start

  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: levelup
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: